.todo-list li label .description {
  font-size: 13px;
  color: gray;
}
.todo-list li label .description {
  display: flex;
  align-items: center; 
  /* justify-content: center; */

  /* word-break: break-all; */
  /* display: block; */
  /* line-height: 1.2; */
  transition: color 0.4s;
  font-weight: 400;
  color: #4d4d4d;
  gap: 3px;
}
*,
::after,
::before {
  box-sizing: content-box;
}
.todo-list li .icon-pause,
.todo-list li .icon-play {
  font-size: 15px;
  width: 18px;
  height: 18px;
}

.todo-list li .icon-play {
  font-size: 15px;
}

.icon-pause::after {
  content: '⏸';
}

.icon-play::after {
  content: '▶';
}

.todo-list li .icon-play {
  font-size: 15px;
}
